@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.nav_links {
  @apply text-2xl px-4 py-2 rounded-md hover:bg-slate-900 hover:text-slate-900 hover:bg-opacity-10 transition-all duration-700 font-semibold mx-5;
}
.navbar {
  @apply flex items-center justify-between w-full fixed top-0 z-10 h-[4.5rem] p-[3.5rem];
}
.car_section {
  @apply w-full h-screen;
}
.img{
    @apply h-full w-full object-cover
}
.transform_50{
    transform: translate(-50%, -50%);
}